<div class="index">

  <div class="placeCenter">
    <h1>Welcome to our BootCamp</h1>
    <p>One of the top rated bootcamps in India.</p>
    <%= link_to "Login", "", id: "login-trigger", class: "btn" %>
  </div>
  
</div>
